<div class="container">
  <footer class="row">
      <div class="col-md-12">
         <div class="hstack gap-3" role="toolbar" aria-label="Toolbar with button groups" >
           <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn-outline-secondary">Materials</button>
              <button type="button" class="btn-outline-secondary">Request</button>
              <button type="button" class="btn-outline-secondary">About</button>
            </div>
          </div>
          <p class="text-center text-muted">&copy; 2023 Biesse S.p.A</p>
      </div>
  </footer>
</div>