<!DOCTYPE html>
<html>
  <head>
    <title>Request Submitted</title>
  {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container">
      
      <p class="mb-2">Thank you for the request on {{machine['machine_name']}}</p>
      
      <b>Name</b>
      <div class="mb-2">{{data['full_name']}}</div>
  
      <b>Email</b>
      <div class="mb-2">{{data['email']}}</div>
  
      <b>Company</b>
      <div class="mb-2">{{data['company']}}</div>
  
      <b>Project Description</b>
      <div class="mb-2">{{data['proj_description']}}</div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>